dconf/
dolphinrc
google-chrome/*
kde.org/*
kiorc
mimeapps.list
pavucontrol.ini
pulse/*
qt6ct/*
session/*
systemd/*
lazy-lock.json
fish/*
Code/*
Code - Insiders/*
QtProject.conf
Thunar/*
VirtualBox/*
autostart/*
btop/*
cosmic/*
filetypesrc
github-copilot/*
go/
gtk-3.0/*
htop/
kdeglobals
kservicemenurc
ktrashrc
libreoffice/
nomacs/
nwg-look/
obs-studio/
obsidian/
onlyoffice/
qt5ct/
swaync/
tlpui/
torbrowser/
tuxedo-control-center/
vlc/
xfce4/
xsettingsd/
tmux/plugins/*
weather.sh
